<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Sitepoint :|: I love spotify</title>
	<link rel="stylesheet" type="text/css" href="styles/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles/_isAwesome.css">
</head>
<body>
	<div class="container">
		<header>
			<h1>Underscore Awesomeness</h1>
		</header>
		<main>
			<div class="center-block">
				<div class="filters col-sm-2 col-md-2">
				</div>
				<div class="col-md-10">
					<p class="lead">Some artists</p>
					<div class="artists"></div>
				</div>
				<div class="clearfix visible-xs-block"></div>
			</div>
		</main>
		<footer>&copy; 2015 - Sitepoint</footer>
	</div>
</body>

<!-- Templates -->
<script type="underscore/template" id="list-tpl">
	<ul class="list-unstyled">
		<% _.each(items, function(item) { %>
			<li>
				<%= itemTpl({
					item: item
				}) %>
			</li>
		<% }) %>
	</ul>	
</script>

<script type="underscore/template" id="filter-list-tpl">
	<% _.each(filters, function(filter) { %>
		<p class="lead">Filter by <%= filter.label %></p>
		<div class="center-block">
			<%= filterValuesListTpl({
				filter: filter,
				filterTpl: filterTpl
			}) %>
		</div>
	<% }) %>
</script>

<script type="underscore/template" id="artist-tpl">
	<div class="row">
		<div class="col-md-2">
			<a href="<%= item.external_urls.spotify %>" target="blank" title="Go to <%=item.name%> profile.">
				<img class="img-responsive" src="<%= item.images[1].url %>" alt="<%= item.name %>" />
			</a>
		</div>
		<div class="col-md-6">
			<ul class="list-unstyled">
				<li>
					<a href="<%= item.external_urls.spotify %>" target="blank" title="Go to <%=item.name%> profile.">
						<span><%= item.name %></span>
					</a>
				</li>
				<li>
					<small><%= item.followers.total %> followers</small>
				</li>
			</ul>
		</div>
		<div class="col-md-6">
			<span data-action="get-details" data-id="<%= item.id %>">
				See details
			</span>
		</div>
	</div>
</script>

<script type="underscore/template" id="filter-values-list">
	<ul class="list-unstyled">
		<% _.each(filter.values, function(value) { %>
			<li>
				<%= filterTpl({
					filter: filter,
					value: value
				}) %>
			</li>
		<% }) %>
	</ul>	
</script>

<script type="underscore/template" id="filter-tpl">
	<button class="btn btn-default sized" data-filter-field="<%= filter.field %>" data-filter-value="<%= value %>" data-action="filter"><%= value %></button>
</script>

<!-- Scripts -->
<script type="text/javascript" src="js/src/lib/underscore.min.js"></script>
<script type="text/javascript" src="js/src/lib/jquery.min.js"></script>
<script type="text/javascript" src="js/src/modules/_isAwesome.Config.js"></script>
<script type="text/javascript" src="js/src/modules/_isAwesome.Template.js"></script>
<script type="text/javascript" src="js/src/modules/_isAwesome.Filter.js"></script>
<script type="text/javascript" src="js/src/modules/_isAwesome.js"></script>
<script type="text/javascript">
	(function() {
		_isAwesome.init();
	})();
</script>
</html>